.btn {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.bg-pattern {
  height: 35vh;
  background-image: url("images/pattern-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.search {
  width: 50%;
  margin: 0px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 16px;
  border-style: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.arrow {
  background-image: url("images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 28px;
}
.border-half-right {
  position: relative;
}

.border-half-right::after {
  content: "";
  width: 10px;
  height: 50%;
  border-right: 1px solid lightgray;
  position: absolute;
  top: 25%;
  right: 5%;
}
.rounded-18 {
  border-radius: 18px;
}

.overlap {
  position: absolute;
  top: 29%;
  left: 15%;
}
